*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
    background-color: #f8f8ff;
}

body {
    font-family: 'Lato', sans-serif;
    //color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: repeat(2,min-content);
    grid-gap: 1.5rem;
}